@model BSMS.bsms.localhost.CATEGORY

@{
    ViewBag.Title = "Details";
    ViewBag.Page = "Category";
    ViewBag.Action = "Category Detail";
    Layout = "~/Views/Shared/LDashboard.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-block">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NAME)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NAME)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DESCRIPTION)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DESCRIPTION)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.REFERENCE_KEY)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.REFERENCE_KEY)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CATEGORY_THUMBNAIL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CATEGORY_THUMBNAIL)
                </dd>

            </dl>

            <p class="col-md-offset-1">
                @Html.ActionLink("Edit", "Edit", new { id = Model.CATEGORYID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>