@using BSMS.Session;
@using BSMS.bsms.localhost;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    @*<link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/images/favicon.png">
    <title> BSMS | @ViewBag.Page @ViewBag.Title </title>*@
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/Content/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="~/Content/js/jquery.js"></script>
    <link rel="stylesheet" href="~/Content/css/jquery.sweet-modal.min.css" />
    <script src="~/Content/js/jquery.sweet-modal.min.js"></script>
    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Content/js/sweetalert2.min.js"></script>
    <script src="~/Content/js/FormHandler.js"></script>


</head>


@{
    SessionHandler LoginSession = new SessionHandler();
    USER loggedUser = LoginSession.AuthenticatedUser();
    if (loggedUser == null)
    {
        Response.Redirect(Url.Action("Login", "Authentication"));
        return;
    }
}
<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/Content/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control form-control-line" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            @{
                                string img_Path = loggedUser.THUMBNAIL_PATH == null ? "/UserImages/avatar.png" : loggedUser.THUMBNAIL_PATH;
                            }
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="@img_Path" alt="user" class="profile-pic m-r-5" />@loggedUser.USERNAME
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        @if (LoginSession.ISAdmin())
                        {
                            <li>
                                <a href='@Url.Action("index","Category")' class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i> Category </a>
                            </li>
                            <li>
                                <a href='@Url.Action("index","Genre")' class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i> Genre </a>
                            </li>
                            <li>
                                <a href='@Url.Action("index","Staff")' class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i> Staff </a>
                            </li>
                        }

                        @if (LoginSession.ISStaff())
                        {
                            <li>
                                <a href='@Url.Action("index","Author")' class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i> Author </a>
                            </li>
                            <li>
                                <a href='@Url.Action("index","Producer")' class="waves-effect"><i class="fa fa-product-hunt m-r-10" aria-hidden="true"></i> Producer </a>
                            </li>

                        }

                        <li>
                            <a href='@Url.Action("index","Book")' class="waves-effect"><i class="fa fa-book m-r-10" aria-hidden="true"></i>Books </a>
                        </li>

                        @if (LoginSession.ISAdmin())
                        {
                            <li>
                                <a href="@Url.Action("PendingBooks", "Book")">
                                    <span class="badge m-r-10" id="pendingcount" style="background-color:cadetblue; border-radius:30px; font-weight:400; height:inherit; width:inherit"> @(BSMS.Models.BookModel.GetBooks().Where(query => String.IsNullOrEmpty(query.STATUS)).Count())   </span>
                                    &nbsp; &nbsp;Pending Books
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("index","Category")' class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i> Category </a>
                            </li>
                        }
                        <li>
                            <a onclick="logout()" class="waves-effect"><i class="fa fa-sign-out m-r-10" aria-hidden="true"></i>Logout </a>
                        </li>

                    </ul>
                    <div class="text-center m-t-30">
                        <a href="@Url.Action("index", "Home")" target="new" class="btn btn-danger"> Preview Guest </a>
                    </div>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">@ViewBag.Page</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("index", ViewBag.Page)">@ViewBag.Page</a></li>
                            <li class="breadcrumb-item active">@ViewBag.Title</li>
                        </ol>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        @RenderBody()

                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2017 BSMS Admin by Maven Team
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Content/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/Content/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

    <script type="text/javascript">
        function logout() {
            swal({
                title: 'Are you sure?',
                text: "you want to logout? ",
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Logout',
                cancelButtonText: 'Cancel',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: true
            }).then(function () {
                window.location = '@Url.Action("logout", "Authentication")';
            })
        }
    </script>
</body>
</html>