
@{
    ViewBag.Title = "ForgetPassword";
}

<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href='@Url.Action("Index","Home")'>Home</a></li>
            <li class="active">Forget Password</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->


<div class="container">
    <br>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
            <div class="title"> <span>Forget Password </span></div>
            <br>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="Email"> Email  </label>
                    <input type="email" name="Email" class="form-control form-control-line" placeholder="Example@bsms.com"  required />
                </div>

                <div class="form-group">
                    <button class="btn btn-default btn-theme" type="submit"> Reset Password </button>
                </div>
            }
        </div>


        <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
            <div class="title"> <span> Login </span></div>
            <br>
            <h4>Do you have an account? </h4>
            <a href='@Url.Action("Login","Authentication")' class="btn btn-info btn-md"><i class="glyphicon glyphicon-log-in"></i> Login </a>
        </div>
    </div>
</div>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <script>

        var message = '@ViewBag.Message';
        swal({
            title: 'Information Message',
            text: message,
            timer: 2000
        }).then(
        function () { },
// handling the promise rejection
            function (dismiss) {
                window.location = '@Url.Action("ResetPassword","Authentication")';
            }
        )

    </script>
}


@if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script>
        var message = '@ViewBag.ErrorMessage';
        swal(
              'Invalid Email',
                message,
              'error'
            )
    </script>
}